{% extends 'generator/base.html' %}
{% block content %}
{% load static %}
<!-- **************************** -->
<div class="body-container">
   <div class="inner-body">
      <div id="box">
         <div id="about">
            <h1>Who we are? </h1>
            <h2>This site is created by Aniket.</h2>
            <h4>About The Site:</h4>
            <p>This is a strong, secure and safe password generator algorithm. Generate  in just few clicks fully customizable password by your own hands. </p>
         </div>
      <section id="bottom">
         <a href="{% url 'home' %}">Home Page</a>
      </section>
      </div>
   </div>
</div>



<!-- **************************** -->
{% endblock %}
