{% extends 'generator/base.html' %}
{% block content %}
{% load static %}
<!-- **************************** -->
<div class="body-container">
   <div class="inner-body">
      <div id="box">
         <h1>Your password is: </h1>
         <span id="password">
           <h2>
            <input type="text" id="myInput" value="{{password }}">
          </h2>
           <div id="copy">
              <button onclick="copyFunction()" id="copy-msg"><img src="{% static 'img/copy.png'%}" alt="">         
              </button>
           </div>   
      </span> 
         <section id="bottom">
            <a href="{% url 'home' %}">Home Page   </a>
            <a href="{% url 'about' %}">About This Site</a>
         </section>
      </div>
   </div>
</div>

  <script>
   function copyFunction() {
     var copyText = document.getElementById("myInput");
     copyText.select();
     copyText.setSelectionRange(0, 99999);
     document.execCommand("copy");
     document.getElementById('copy-msg').innerHTML = '&check;copied'
   }
   </script>



<!-- **************************** -->
{% endblock %}


